extends ../layout

block content
  body
    .ui.middle.aligned.center.aligned.grid
      .column
        form.ui.large.form(method="post")
          .ui.stacked.segment
            .field
              .ui.left.icon.input
                i.user.icon
                input(type="text", name="email", placeholder="E-mail address")
            .field
              .ui.left.icon.input
                i.lock.icon
                input(type="password", name="password", placeholder="Password")
            input.ui.fluid.large.teal.submit.button.js_login_submit(type="submit", value="登录")
          .ui.error.message
