.ui.segment.inverted.center.masthead.aligned.center.vertical
  .ui.container
    .ui.menu.large.secondary.inverted.pointing
      a.item.toc
        i.sidebar.icon
      - if(active && active == 'home')
        a.item.active(href="/admin") 主页
      - else
        a.item(href="/admin") 主页
      - if(active && active == 'blog')
        a.item.active(href="/blog") 博客
      - else
        a.item(href="/blog") 博客
      a.item 关于
      .item.right
        a.ui.button.inverted(href="/admin/login") 登录
        //- .ui.button.inverted 注册
