.ui.segment.inverted.center.masthead.aligned.center.vertical
  .ui.container
    .ui.menu.large.secondary.inverted.pointing
      a.item.toc
        i.sidebar.icon
      a.item.active 主页
      a.item 博客
      a.item 关于
      .item.right
        a.ui.button.inverted(href="/admin/login") 登录
        //- .ui.button.inverted 注册
