.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.hide {
  display: none !important;
}

body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
}

.blogAdd .blogAdd__container {
  padding: 30px;
}

pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  line-height: 1.5em;
  color: #444;
  overflow: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  border-radius: 3px;
}
pre code {
  padding: 0 !important;
  font-size: 12px !important;
  background-color: #eee !important;
  border: none !important;
}
